{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}

{# Display a form #}

<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {% block head_content %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/dashboard/">Index <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/dashboard/players">Players</a>
        <a class="nav-item nav-link" href="/dashboard/items">Items</a>
        <a class="nav-item nav-link" href="/dashboard/lootlist">Lootlist</a>
        <a class="nav-item nav-link" href="/dashboard/attendance">Attendance</a>
      </div>
    </div>
  </nav>
  <main role="main" class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>